<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">

<h1>Books Authors Publishers App </h1>

<h3>Click on the page options below</h3>
<div style="margin-top:30px;width:300px;height:120px;
padding:20px;border-radius:10px;border:10px solid #EE872A;
font-size:120%;">
  <ul style="list-style-type:disc">
    <li><a href="http://127.0.0.1:8000/BAP/books/">Books</a></li>
    <li><a href="http://127.0.0.1:8000/BAP/authors/">Authors</a></li>
    <li><a href="http://127.0.0.1:8000/BAP/publishers/">Publishers</a></li>
  </ul>
</div>
</body>
</html>